<!DOCTYPE html>
<html ng-app="index-app">
<head>
    <title></title>
	<meta charset="utf-8" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular.js"></script>
    <script src="../app.js"></script>
    <link href="../EmployeeController/CSS/Employee.css" rel="stylesheet" />

</head>
<body>
    <div ng-controller='EmployeesCtrl'>
        <table>
            <tr>
                <th>Employee_Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Email_Id</th>
                <th>PhoneNo</th>
                <th>Age</th>
                <th>Status</th>
            </tr>
            <tr style="cursor:pointer" ng-click="navigateToDetails(emp.Employee_Id)" ng-repeat="emp in emplooyeesList">
                <td>{{emp.Employee_Id}}</td>
                <td>{{emp.FirstName}}</td>
                <td>{{emp.LastName}}</td>
                <td>{{emp.Email_Id}}</td>
                <td>{{emp.PhoneNo}}</td>
                <td>{{emp.Age}}</td>
                <td>{{emp.Status}}</td>
                <td><a href="Edit.html">EDIT</a></td>
                <td><button type="button" ng-click="DeleteEmployee(this)">Delete</button></td>
            </tr>

        </table>
    </div>
</body>
</html>
